<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}Paula Whitefield</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
  </head>
  
  <body>
    <h1><a href="/">Paula Whitefield</a></h1>
    <p><b><i>Personal Website</i></b></p>
    
    <hr>
    
    <p>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </p>
    
    <hr>
    
    {{ content | safe }}
    
    <hr>
    
    <p>Site by <a href="/">Paula Whitefield</a>. Static Site Generator by <a href="https://11ty.dev" target="_blank">11ty</a>. Template Language by <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a>. Hosted by <a href="https://pages.cloudflare.com" target="_blank">CloudFlare Pages</a>. Source code available on <a href="https://github.com/PaulaWhitefield/paulawhitefield.com" target="_blank">GitHub</a>.</p>
  </body>
</html>