@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --color-purple-pale: #ddccff;
  --color-purple-solid: #6600cc;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var( --color-purple-pale );
}

a
{
  color: var( --color-purple-solid );
}

h1, h2, h3, h4, h5, h6, p
{
  margin: 0 auto;
  max-width: 600px;
  padding: 0.5rem 1rem;
}

h1 a
{
  text-decoration: none;
}

@media ( min-width: 400px )
{
  h1, h2, h3, h4, h5, h6, p
  {
    padding: 0.5rem 2rem;
  }
}