*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --color-background-dark: #26004d;
  --color-text-dark: #333;
  --color-background-light: #ddccff;
  --color-text-light: #ddd;
  --color-text-muted: #888;
  
  --color-text-alt-dark: #6600cc;
  --color-text-alt-light: #bf80ff;
  
  --color-background: var( --color-background-dark );
  --color-text: var( --color-text-light );
  --color-text-alt: var( --color-text-alt-light );

  --max-width: 800px;

  --color-dark-gray: #0d0d0d;
  --color-lighter-dark-gray: #1a1a1a;
  --color-purple-dark: #6600cc;
  --color-purple-light: #bf80ff;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body
{
  background-color: var( --color-dark-gray );
  background-position: center;
  background-attachment: fixed;
  color: var( --color-text );
}

a
{
  color: var( --color-text-alt );
}

img
{
  max-width: 100%;
}

img.showcase
{
  box-shadow: 2px 2px 5px var( --color-purple-dark );
  margin-left: -1rem;
  margin-right: -1rem;
  max-width: calc( 100% + 2rem );
  border-radius: 0rem;
}

h1, h2, h3, h4, h5, h6, p, .sites-list
{
  margin-inline: auto;
  max-width: var( --max-width );
  padding: 0.5rem 1rem;
}

.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: var( --max-width );
  margin: 0 auto;
}

.header .logo
{
  margin-top: 1rem;
}

.header .title
{
  text-align: center;
  text-transform: uppercase;
}

.header .title h1 a
{
  color: var( --color-purple-light );
}

h1 a
{
  text-decoration: none;
}

.navbar
{
  text-align: center;
  background-color: var( --color-lighter-dark-gray );
  box-shadow: 2px 2px 5px var( --color-purple-dark );
}

.navbar a:hover,
.navbar a.current
{
  text-decoration: none;
}

.navbar a.current
{
  font-weight: bold;
}

hr
{
  border-color: transparent;
  background-repeat: repeat-x;
  background-position: center;
  height: 24px;
}

.sites-list
{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sites-list .site
{
  border: 1px dashed var( --color-text-alt );
  border-radius: 1rem;
  padding: 1rem;
}

.sites-list .site .name
{
  color: var( --color-text-alt );
  font-weight: bold;
  font-size: 1.5rem;
}

.sites-list .site .url,
.sites-list .site .url a
{
  color: var( --color-text-muted );
  font-style: italic;
}

.sites-list .site .description
{
  padding-block: 2rem;
}

.sites-list .site .button a
{
  padding: 0.7rem 1rem;
  background-color: var( --color-background );
  color: var( --color-text );
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
}

@media ( min-width: 800px )
{
  h1, h2, h3, h4, h5, h6, p, .sites-list
  {
    padding: 0.5rem 2rem;
  }

  img.showcase
  {
    border-radius: 1rem;
    margin-left: -2rem;
    margin-right: -2rem;
    max-width: calc( 100% + 4rem );
  }
  
  .header
  {
    flex-direction: row;
    padding: 0 2rem;
  }

  .header .logo
  {
    order: 2;
  }

  .header .title
  {
    text-align: left;
    order: 1;
  }

  .header .title h1,
  .header .title p
  {
    padding: 0;
  }
  
  .navbar
  {
    text-align: left;
  }
}

@keyframes star-fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes star-fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes star-fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}