*,
*::before,
*::after
{
  box-sizing: border-box;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: relative;
  background-color: #eee;
  color: #333;
}

.container
{
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

img
{
  max-width: 100%;
}

header h1
{
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #664682;
  color: white;
}

header h1 img
{
  max-width: 100px;
}

header nav
{
  background-color: #443055;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
}

header nav a
{
  color: #dcdcdc;
  text-decoration: none;
  text-underline-offset: 6px;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

header nav a:hover
{
  text-decoration: underline;
  background-color: #513867;
}

header nav a.current
{
  color: #ffffff;
  font-weight: bold;
  text-decoration-thickness: 3px;
  text-decoration: underline;
}

#navbar-toggle-checkbox
{
  display: none;
}

#navbar-toggle-label
{
  background-color: #513867;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

#navbar-toggle-checkbox ~ nav
{
  display: none;
}

#navbar-toggle-checkbox:checked ~ nav
{
  display: flex;
}

section.content
{
  line-height: 1.5;
  font-size: 1.1rem;
}

section.content a
{
  color: #664682;
  font-weight: 600;
  text-underline-offset: 6px;
}

section.content img.breakout
{
  margin-left: -1rem;
  margin-right: -1rem;
  max-width: calc( 100% + 2rem );
}

footer
{
  background-color: #664682;
  color: #dcdcdc;
  font-size: 0.8rem;
}

footer a
{
  color: #dcdcdc;
  text-underline-offset: 4px;
}

footer a:hover
{
  color: #ffffff;
}

audio
{
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc( 100% + 2rem );
}

.blog-entries .blog-entry,
.sites-list .site
{
  font-size: 1.1rem;
}

.blog-entries .blog-entry,
.sites-list .site
{
  padding: 1rem 0;
}

.blog-entries .blog-entry .title,
.sites-list .site .name
{
  font-size: 1.6rem;
  font-weight: bold;
}

.blog-entries .blog-entry .metadata,
.sites-list .site .url
{
  font-size: 0.9rem;
  font-style: italic;
}

.blog-entries .blog-entry .description,
.sites-list .site .description
{
  padding: 1rem 0;
}

@media ( min-width: 800px )
{
  header nav
  {
    flex-direction: row;
    position: initial;
    background-color: #513867;
  }

  #navbar-toggle-label
  {
    display: none;
  }

  #navbar-toggle-checkbox ~ nav
  {
    display: flex;
  }

  header nav a
  {
    width: auto;
  }

  section.content img.breakout
  {
    border-radius: 1rem;
  }
}

@media ( prefers-color-scheme: dark )
{
  html,
  body
  {
    background-color: #222;
    color: #ddd;
  }

  section.content a
  {
    color: #8e65b3;
  }
}
