@import url( 'https://webfonts.staticly.cc/poppins/poppins.css' );

*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --color-background-dark: #26004d;
  --color-text-dark: #333;
  --color-background-light: #ddccff;
  --color-text-light: #ddd;
  
  --color-text-alt-dark: #6600cc;
  --color-text-alt-light: #bf80ff;
  
  --color-background: var( --color-background-dark );
  --color-text: var( --color-text-light );
  --color-text-alt: var( --color-text-alt-light );

  --max-width: 800px;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body
{
  background-color: var( --color-background );
  background-image: url( 'https://images.staticly.cc/gifs/colorful-shining-stars.gif' );
  background-position: center;
  background-attachment: fixed;
  color: var( --color-text );
}

a
{
  color: var( --color-text-alt );
}

h1, h2, h3, h4, h5, h6, p
{
  margin: 0 auto;
  max-width: var( --max-width );
  padding: 0.5rem 1rem;
}

.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: var( --max-width );
  margin: 0 auto;
}

.header .logo
{
  margin-top: 1rem;
}

.header .title
{
  text-align: center;
}

h1 a
{
  text-decoration: none;
}

.navbar
{
  text-align: center;
}

hr
{
  border-color: transparent;
  background-image: url( 'https://images.staticly.cc/gifs/twinkling-blue-stars-line.gif' );
  background-repeat: repeat-x;
  background-position: center;
  height: 24px;
}

@media ( min-width: 600px )
{
  h1, h2, h3, h4, h5, h6, p
  {
    padding: 0.5rem 2rem;
  }
  
  .header
  {
    flex-direction: row;
    padding: 0 2rem;
  }

  .header .logo
  {
    order: 2;
  }

  .header .title
  {
    text-align: left;
    order: 1;
  }

  .header .title h1,
  .header .title p
  {
    padding: 0;
  }
  
  .navbar
  {
    text-align: left;
  }
}