ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{SERVER_PORT} ^80$ [NC]
    RewriteCond %{HTTP_HOST} ^paulawhitefield.com$
    RewriteRule ^(.*)$ http://www.paulawhitefield.com/$1 [R=307,END]

    RewriteCond %{SERVER_PORT} ^443$ [NC]
    RewriteCond %{HTTP_HOST} ^paulawhitefield.com$
    RewriteRule ^(.*)$ https://www.paulawhitefield.com/$1 [R=307,END]
</IfModule>
