---
title: About
layout: "base.njk"
---

<h2>All About Me</h2>

<p>My name is Paula Whitefield. I am in my 30s and from Ayrshire, Scotland.</p>

<p>In my spare time, I like to chill and relax with either music or random videos online.</p>

<h3>Contact Me</h3>

<p>Say hello or send me a virtual hug by email.</p>

<p id="email_address">cuddles [at] paulawhitefield [dot] com</p>

<script type="text/javascript">
  var email_address = 'cuddles' + '@' + 'paulawhitefield' + '.' + 'com';
  document.getElementById('email_address').innerHTML = '<a href="mailto:' + email_address + '" target="_blank">' + email_address + '</a>';
</script>