---
title: Home
layout: "base.njk"
---

<p style="text-align: center;"><img src="/assets/images/gifs/welcome-to-my-homepage-roses.gif" alt="Welcome to my homepage image with roses"></p>

<h2>Hello, I'm Paula!</h2>

<p>Social networks these days don't let you express yourself in creative ways. Yes you can post pictures and videos and write stuff, but you can't customise the entire page to be as you like.</p>

<p>I wanted more control and customisability, so I have learned how to make my very own website, so I can have full control over everything, and also best of all, zero ads.</p>

<p>Thank you for stopping by my website today, and I hope you enjoy what I have created.</p>

<p style="text-align: center;"><img src="/assets/images/gifs/welcome-to-my-homepage-purple-flowers.gif" alt="Welcome to my homepage image with purple flowers"></p>
